table{
  border: 1px solid black;
  margin: 0 auto;
}



th {
    border: 1px solid rgb(160 160 160);
    text-align: center;
    padding: 5px;
  }

td {
    border: 1px solid rgb(160 160 160);
    text-align: center;
    padding: 5px;
  }

body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  div {
    text-align: center;
    color: #000000;
    background-color: #f1f1f1;
    align-items: center;
  }

  h1 {
    text-align: center;
    color: #000000;
    font-size: 50px;
  }
  h2 {
    text-align: center;
    color: #000000;
    font-size: 30px;
  }

  #tema-container {
    display: flex;
    justify-content: space-between;
}

.checkbox-column {
    width: 30%; 
}

.checkbox-column label {
    display: block;
    margin-bottom: 5px;
}

#otro-text {
  width: 100%; 
  max-width: 200px;  
  margin-top: 5px;
  padding: 5px;
}