.container {
    display: flex;
        
    align-items:center ;
    
      
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    gap: 20px;
    justify-content: center; /* centra las columnas si sobran espacios */
    width: 100%; 
    

  }

  .grid > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    height: 240px;
    justify-content: center;
    
  }

div{    
    text-align: center;
    
    color: #000000;
    background-color: #f1f1f1;

}

h1{
    text-align: center;
    color: #000000;
  
    font-size: 50px;

}

body{
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.temas {
  text-align: center;        /* Centra el contenido dentro del contenedor */
  margin: 20px 0;             /* Separación arriba y abajo */
}

.temas h3 {
  margin-bottom: 10px;        /* Espacio entre el título y la lista */
  font-size: 1.3em;           /* Tamaño de letra un poco mayor */
  
}

.temas ul {
  display: inline-block;      /* Hace que la lista sea tan ancha como su contenido */
  padding: 0;                 /* Quita el padding por defecto */
  margin: 0;                  /* Quita el margin por defecto */
  list-style-position: inside;/* Discos dentro del recuadro */
  text-align: left;           /* Alinea el texto de los <li> a la izquierda */
}

.temas ul li {
  margin-bottom: 6px;         /* Espacio entre ítems */
  line-height: 1.4;           /* Un poco más de interlineado */
  
}

  .input-error {
    border: 2px solid red;
  }

  .error-message {
    color: red;
    font-size: 0.9em;
    margin: 4px 0;
  }

  .comentarios-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comentario {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
}

.comentario-header {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #555;
    display: flex;
    justify-content: space-between;
}

.comentario-fecha {
    font-style: italic;
    color: #888;
}

.comentario-texto {
    font-size: 1rem;
    color: #333;
}