<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Estadisticas</title>
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/index.css') }}"
        >

    </head>
    <body>
        <h1>Estadisticas</h1>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
        </div>
        <div>
            <h2>Estadisticas generales por dia</h2>
            <div id="container-dia" style="width: 80%;margin: 0 auto;"></div>
            
        </div>
        <div>
            <div>
                <h2>Tipos de Actividades</h2>
                <div id="container-torta" style="width: 80%;margin: 0 auto;"></div>
                
            </div>
            <div>
                <h2>Actividad mensual</h2>
                <div id="container-mes" style="width: 80%;margin: 0 auto;"></div>
                
            </div>
        </div>
        <div>
            
        </div>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
        </div>

        
        
        
    {% block javascript %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
        <script src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
                
    {% endblock %}
    </body>

</html>