<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Estadisticas</title>
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/index.css') }}"
        >

    </head>
    <body>
        <h1>Estadisticas</h1>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
        </div>
        <div>
            <h2>Estadisticas generales del mes</h2>
            <img src="{{url_for('static',filename="/svg/grafico_mensual.png")}}" alt="Grafico mensual" height="400">
        </div>
        <div>
            <div>
                <h2>Distribucion de actividades</h2>
                <img src="{{url_for('static',filename="/svg/grafico_torta.png")}}" alt="Grafico Torta" height="400">
            </div>
            <div>
                <h2>Actividad mensual</h2>
                <img src="{{url_for('static',filename="/svg/grafico_3barras.png")}}" alt="Grafico 3 barras" height="400">
            </div>
        </div>
        <div>
            
        </div>

        
        
        

    </body>

</html>